In [11]:
import numpy as np
import pandas as pd

In [12]:
df=pd.read_csv('StudentsPerformance (1).csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,NaN,72,72.0,74
1,female,group C,some college,standard,completed,69,90.0,88
2,female,group B,master's degree,standard,NaN,90,95.0,93
3,male,group A,associate's degree,free/reduced,NaN,47,57.0,44
4,male,group C,some college,standard,NaN,76,78.0,75

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      358 non-null    object
 5   math score                   1000 non-null   int64
 6   reading score                964 non-null    float64
 7   writing score                1000 non-null   int64
dtypes: float64(1), int64(2), object(5)
memory usage: 62.6+ KB

In [14]:
df.isnull()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False
3,False,False,False,False,True,False,False,False
4,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False
996,False,False,False,False,True,False,False,False
997,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False
999,False,False,False,False,True,False,False,False

In [15]:
df.isnull().sum()

gender                           0
race/ethnicity                   0
parental level of education      0
lunch                            0
test preparation course        642
math score                       0
reading score                   36
writing score                    0
dtype: int64

In [16]:
df['test preparation course'].isnull().sum()

642

In [17]:
df['reading score'].isnull().sum()

36

num = df.select_dtypes(include=np.number)
numeric_colums = numeric.columns

In [23]:
num

NameError: name 'num' is not defined

In [19]:
df['test preparation course'].fillna(df['test preparation course'].mean(), inplace=True)
df.info()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
df= df.fillna(df.mode().iloc[0])

In [21]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,completed,72,72.0,74
1,female,group C,some college,standard,completed,69,90.0,88
2,female,group B,master's degree,standard,completed,90,95.0,93
3,male,group A,associate's degree,free/reduced,completed,47,57.0,44
4,male,group C,some college,standard,completed,76,78.0,75